<p class="post">
  [<span class="timestamp">{{ time | escape }}</span>]
  <span class="editlink"><a href="/edit-message/{{ messageID | escape }}">&#9998;</a></span>
  <span class="name-bracket {{ myselfOrOthersClass | escape }}">&lt;</span><span class="sendername"><a href="{{ senderInfoURL | escape }}">{{ senderNameHTML }}</a></span><span class="name-bracket {{ myselfOrOthersClass | escape }}">&gt;</span>
  <span class="messagebody">{{ body }}</span>
</p>
